[submodule "Phoenix/vendor/spdlog"]
	path = Phoenix/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Phoenix/vendow/glfw"]
	path = Phoenix/vendow/glfw
	url = https://github.com/TheCherno/glfw
