[submodule "Phoenix/vendor/spdlog"]
	path = Phoenix/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Phoenix/vendow/glfw"]
	path = Phoenix/vendow/glfw
	url = https://github.com/TheCherno/glfw
[submodule "Phoenix/vendor/imgui"]
	path = Phoenix/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "imgui"]
	path = imgui
	url = https://github.com/TheCherno/imgui
