#Directories
.vs/
bin/
bin-int/
Phoenix/vendor/VulkanSDK

#Files
*.user
*.sln
*.vcxproj
*.filters
*.log
Sandbox/PhoenixSesson-Shutdown.json
Sandbox/PhoenixSesson-Runtime.json
Sandbox/PhoenixSesson-Startup.json
Phoenix/
