#Directories
.vs/
bin/
bin-int/
Phoenix/vendor/VulkanSDK

#Files
*.user
*.sln
*.vcxproj
*.filters
*.log
*.claudiaideconfig
Sandbox/PhoenixSesson-Shutdown.json
Sandbox/PhoenixSesson-Runtime.json
Sandbox/PhoenixSesson-Startup.json
libs/mono/
Phoenix-Editor/resources/scripts/int/Debug/Phoenix-Script.csproj.CoreCompileInputs.cache
*.dll
*.pdb
*.cache
